@import url('https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=Oswald:wght@200..700&family=Spicy+Rice&display=swap');

.img{
  border-radius: 40px;
  display: block;
  margin: auto;
  padding: 1%;
}

.h1{
  font-size: 3.0rem;
  margin-top: 5%;
}

.text{
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}


.buttonMedic{
  display: inline-block;
  margin: 20px 10px 10px 0;
  padding: 12px 24px;
  background-color:#d2be9f;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
  margin-left: 45%;
}
    
